<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>our locations</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> france </a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> consultation </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> disease </a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
            <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
            <a href="/about"> <i class="fas fa-arrow-right"></i> our serivces </a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> Aarya@gmail.com </a>
            <img src="./images/worldmap.png" class="map" alt="">
        </div>

    </div>

    <div class="share">
        <a href="#" class="facebook"><img src="./images/fbicon.png" alt=""></a>
        <a href="#" class="twitter"><img src="./images/twiter.png" alt=""></a>
        <a href="#" class="instagram"><img src="./images/insta.png" alt=""></a>
        <a href="#" class="linkedin"><img src="./images/linkdin.png" alt=""></a>
        <a href="#" class="pinterest"><img src="./images/pintrest.png" alt=""></a>
    </div>

    <div class="credit"> created by <span>FFSD Group 39</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->