<header class="header">

    <div class="header-1">

        <a href="#" class="logo"> <i class="fa fa-heartbeat"></i> Dr. Helpy</a>

        

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <!-- <a href="#" class="fas fa-heart"></a> -->

            <a href="#" class=""></a>
            <a href="/addtocart" class='bi bi-cart3'></a>
            <div class="dropdown" style="display: inline;">
                <a href="#" class='bi bi-person-circle' id="toggleclick"></a>
                <div class="dropdown-content">
                    <a href="/myaccount">My Acoount</a>
                    <a href="/logout">Logout</a>
                    
                  </div>
            </div>
             
        </div>

    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="/home">home</a>
            <a href="#featured">featured</a>
            <a href="#reviews">reviews</a>
            <a href="#consultation">consultation</a>
            <a href="/diseases">disease</a>
        </nav>
    </div>

</header>