<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/diseases.css">
</head>
<body>
    <h1>Disease Main file</h1>
    
    <p class="main"><strong><%= disease.name%></strong></p>
<img src="/<%= disease.image %>">
<p><strong>Symptoms</strong></p>
<ul>
    <% disease.symptoms.split('\\n').forEach(list=>{ %>
        <li><%= list %></li>
    <% }) %> 
</ul>
<p><strong>Medicines and cure</strong><p>
<ol>
    <% disease.cure.split('\\n').forEach(list=>{ %>
        <li><%= list %></li>
    <% }) %> 
</ol>

<hr class="design">
    
</body>
</html>