<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseases</title>
</head>
<link rel="stylesheet" href="/CSS/diseases.css">
<body>
    <div class="header">
    <h1><strong>Diseases and their cure</strong></h1>
    </div>
    <div>
        <body>
            <div style="text-align: right;">
                <nav class="navbar">
                <!-- <form class="form-inline" action="/action_page.php"> -->
                <input class="form-control" type="text" placeholder="Search">
                <button class="btn btn-success" type="submit">Search</button>
                </form>
                </nav>
            </div>  <br>
            <div class="desc">
                <p>Below is the list of common diseases and injuries sorted by A-Z</p>
            </div><br>
            <div class="List">
                <ul>
                     <a href="diseases2.html"><li>Acne</li></a> 
                     <a href="diseases2.html"><li>Back Pain</li></a>
                     <a href="diseases2.html"><li>Coronavirus</li></a>
                     <a href="diseases2.html"><li>Cough and Cold</li></a>  
                     <a href="diseases2.html"><li>Diabetes</li></a>
                     <a href="diseases2.html"><li>Fever</li></a>   
                     <a href="diseases2.html"><li>Fungal Infection</li></a>     
                     <a href="diseases2.html"><li>Gastritis</li></a>
                     <a href="diseases2.html"><li> Headaches</li></a> 
                     <a href="diseases2.html"><li>Snake bite</li></a>  
                     <a href="diseases2.html"><li>Stomach pain</li></a>  
                     <a href="diseases2.html"><li>Thyroid</li></a>   
                </ul>    
            </div>      
</body>
</html>