<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medixo</title>
    <link rel="icon" href="./images/healthcare.png" type="image/x-icon">
</head>
<link rel="stylesheet" href="/CSS/diseases.css">

<body>
    <div class="header">
        <h1><strong>Diseases and their cure</strong></h1>
    </div>
    <div>

        <body>
            <div style="text-align: right;">
                <nav class="navbar">
                    <!-- <form class="form-inline" action="/action_page.php"> -->
                    <input class="form-control" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                    </form>
                </nav>
            </div> <br>
            <div class="desc">
                <p>Below is the list of common diseases and injuries sorted by A-Z</p>
            </div><br>
            <div class="List">
                <ul>
                    <% diseaseslist.forEach(list=>{ %>
                        <a href="disease/<%= list._id %>">
                            <li>
                                <%= list.name %>
                            </li>
                        </a>
                        <% })%>

                </ul>
            </div>
        </body>

</html>