<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/diseases.css">
</head>
<body>
    <h1>Disease Main file</h1>

    <p class="main"><strong>ACNE</strong></p>
<img src="images/acne.png">
<p><strong>Symptoms</strong></p>
<ul>
    <li>Whiteheads (closed plugged pores)</li>
    <li>Blackheads (open plugged pores)</li>
    <li>Small red, tender bumps (papules)</li>
    <li>Pimples (pustules), which are papules with pus at their tips.</li>
    <li>Large, solid, painful lumps under the skin (nodules)</li> 
</ul>
<p><strong>Medicines and cure</strong><p>
<ol>
    <li>Wash problem areas with a gentle cleanser</li>
    <li>Try over-the-counter acne products to dry excess oil and promote peeling</li>
    <li>Protect your skin from the sun</li>
    <li>Avoid friction or pressure on your skin</li>
</ol>

<hr class="design">

<p class="main"><strong>BACK PAIN</strong></p>
<img src="images/backpain.jpg">
<p><strong>Medicines and cure</strong><p></p>
<ul>
    <li>Exercise to Loosen Muscles. Although it may seem counterintuitive to exercise when lower back pain is causing you grief, the right kind of movement can help eliminate the discomforts</li>
    <li>Use Hot/Cold Treatments</li>
    <li>Stretch More. </li>
    <li>Get Better Shoes</li>
    <li>Reduce Your Stress</li>
    <li>Get Better Sleep.</li>
</ul>

<hr class="design">
    
    <p class="main"><strong>CORONAVIRUS</strong></p>
    <img src="images/covid.png">
    <p><strong>Symptoms</strong></p>
    <ul>
        <li>Fever</li>
        <li>Cough</li>
        <li>Tirdness</li>
        <li>Loss of taste or smell</li>
        <li>Sore throat</li>
        <li>Headache</li>
        <li>Aches and pains</li>  
    </ul>
    <p><strong>Medicines and cure</strong><p>
</ul>
    <p>You should consult a doctor in case of any symptoms you encounter. Medicines may or may not cure the virus which in turn leads to death</p>

 <hr class="design">

 <p class="main"><strong >COUGH & COLD</strong></p>
<img src="images/c&c.jpg">
<p><strong>Symptoms</strong></p>
<ul>
    <li>Runny or stuffy nose</li>
    <li>Sore throat</li>
    <li>Cough</li>
    <li>Low-grade fever</li>
    <li>Sneezing</li> 
    <li>Slight body aches or a mild headache</li>
</ul>
<p><strong>Medicines and cure</strong><p>
<p>Best medicines for cough and cold are Citzin, Paracatemol, and vicks balm/nasal spray </p>

<hr class="design">

    <p class="main"><strong>DIABETES</strong></p>
<img src="images/diabetes.jpg">
<p><strong>Symptoms</strong></p>
<ul>
    <li>Urinate (pee) a lot, often at night.</li>
    <li>Are very thirst.</li> 
    <li>Lose weight without trying.</li>    
    <li>Are very hungry.</li>
    <li>Have blurry vision</li>    
    <li>Have numb or tingling hands or feet</li>
    <li>Feel very tired.</li> 
    <li> Have very dry skin.</li>
</ul>
<p><strong>Medicines and cure</strong></p>
<p>Metformin (Fortamet, Glumetza, others) is generally the first medication prescribed for type 2 diabetes. It works primarily by lowering glucose production in the liver and improving your body's sensitivity to insulin so that your body uses insulin more effectively.</p>

<hr class="design">

<p class="main"><strong>FEVER</strong></p>
<img src="images/fever.png">
<p><strong>Symptoms</strong></p>
<ul>
    <li>Sweating</li>
    <li>Headache</li>
    <li>Muscle aches</li>
    <li>Loss of appetite</li>
    <li>Dehydration</li>
    <li>General weakness</li> 
</ul>
<p><strong>Medicines and cure</strong><p>
<ol>
    <li>Take your temperature and assess your symptoms</li>
    <li>Stay in bed and rest</li>
    <li>Keep hydrated</li>
    <li>Take over-the-counter medications like acetaminophen and ibuprofen to reduce fever</li>
    <li>Medicines like Paracatemol, Cheston Cold are suggested</li>
</ol>

<hr class="design">

<p class="main"><strong>FRACTURE</strong></p>
<img src="images/fracturee.jpg">
<p><strong>Medicines and Cure</strong></st></p>
<ul>
    <li>Cool the affected area by applying and ice pack or ice cubes wrapped in a clean cloth</li>
    <li>Stop any bleeding</li>
    <li>Apply pressure to the wound with a sterile bandage, a clean cloth or a clean piece of clothing</li>
    <li>Immobilize the injured area</li>
</ul>

<hr class="design">

<p class="main"><strong>FUNGAL INFECTION</strong></p>
<img src="images/fungal infection.jpg">
<p><strong>SYMPTOMS</strong></p>
<ul>
    <li>Irritation</li>
    <li>Scaly skin</li>
    <li>Redness</li>
    <li>Itching</li>
    <li>Swelling</li>
    <li>Blisters</li>
</ul>
<p><strong>Medicines and Cure</strong></p>
<p>Antifungal medications work to treat fungal infections. They can either kill fungi directly or prevent them from growing and thriving. Antifungal drugs are available as OTC treatments or prescription medications, and come in a variety of forms, including: creams or ointments.</p>
<p>Fluconazole is the medicine needed to be used</p>

<hr class="design">

<p class="main"><strong>GATSRITIS</strong></p>
<img src="images/gastritis.jpeg">
<p><strong>Symptoms</strong></p>
<ul>
    <li>Gnawing or burning ache or pain (indigestion) in your upper abdomen that may become either worse or better with eating.</li>
    <li>Nausea.</li>
    <li>Vomiting.</li>
    <li>A feeling of fullness in your upper abdomen after eating.</li>  
</ul>

<p><strong>Medicines and cure</strong><p>
<ol>
    <li>Taking antacids and other drugs </li>
    <li>Drinking green tea with raw honey</li>
    <li>Take a garlic extract supplement.</li>
    <li>Amoxicillin</li>
    <li>Flagyl</li> 
</ol>

<hr class="design">

<p class="main"><strong>HEADACHE</strong></p>
<img src="images/headache.jpg">
<p><strong>Medicines and Cure</strong></p>
<ul>
    <li>Saridon Tablet</li>
    <li>Massage therapy</li>
    <li>Meditation and breathing exercises</li>
    <li>Drink water</li>
</ul>

<hr class="design">

<p class="main"><strong>SNAKE BITE</strong></p>
<img src="images/sanke.png">
<p><strong>Symptoms</strong></p>
<ul>
    <li>The skin around the bite appears tight and discolored. Blisters, often filled with blood, may form in the bite area. Without treatment, tissue around the bite may be destroyed</li>
    <li>Fever</li>
    <li>General Weakness</li>
    <li>Faintness</li>
</ul>
<p><strong>Medicines and Cure</strong></p>
<ul>
    <li>Seek medical attention as soon as possible</li>
    <li>Wash the bite with soap and water.</li>
    <li>Cover the bite with a clean, dry dressing.</li>
    <li>Do not try to suck out the venom</li>
</ul>

<hr class="design">

<p class="main"><strong>THYROID</strong></p>
<img src="images/thyroid.jpeg">
<p><strong>Symptoms</strong></p>
<ul>
    <li>Experiencing anxiety, irritability and nervousness.</li>
    <li>Having trouble sleeping.</li>
    <li>Losing weight.</li>
    <li>Having an enlarged thyroid gland or a goiter.</li>
    <li>Experiencing irregular menstrual periods or having your menstrual cycle stop.</li>
</ul>
<p><strong>Medicines and cure</strong><p>
    <ul>
        <li>Remove all potential food allergens from your diet</li>
        <li>Supplements like iodine, probiotics, and curcumin can do wonders for your thyroid.</li>
        <li>Reduce daily stress.</li>
        <li>Use medicines prescribed by the doctor only</li>
    </ul>

<hr class="design">

</body>
</html>