<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Helpy</title>
    <link rel="icon" href="./images/healthcare.png" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/CSS/diseases.css"> -->
<link rel="icon" href="./images/healthcare.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="/CSS/Project1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/CSS/diseases.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

</head>

<body>
    <%- include('./partials/navbar.ejs'); %>

    <div class="header">
        <h1><strong>Diseases and their cure</strong></h1>
    </div>
    <div style="padding: 15px 25px;line-height: 200%;">

        
            <div style="text-align: right;">
                
            </div> <br>
            <div class="desc">
                <p>Below is the list of common diseases and injuries sorted by A-Z</p>
            </div><br>
            <div class="List">
                <ul>
                    <% diseaseslist.forEach(list=>{ %>
                        <a href="disease/<%= list._id %>">
                            <li>
                                <%= list.name %>
                            </li>
                        </a>
                        <% })%>

                </ul>
            </div>
        
</html>