<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diseases</title>
</head>
<body>
    <p>Allegries</p>
    <ul>
        <li>qwewr</li>
    </ul>
    <p>Alzheimer's Disease</p>
    <p>Anxiety</p>
    <p>Arthrtis</p>
    <p>Asthama</p>
    <p>Appendicits</p>
    <p>Chest infection</p>
    <p>Chickenpox</p>
    <p>Chest pain</p>
    <p>Chronic kidney disease</p>
    <p>chronic pancreatitis</p>
    <p>Cold sore</p>
    <p>Common Cold</p>
    <p>Common Heart conditions</p>
    <p>Conjuctivits</p>
    <p>Covid-19</p>
    
</body>
</html>