<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/docnew.css">
    <title>Doctor list</title>
</head>
<body>
    <h1>Consult Online Doctors</h1><br>
    <div class="text">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati autem quas expedita atque aliquid eveniet beatae placeat ullam maxime pariatur veritatis aliquam soluta quaerat ducimus tempore temporibus, molestias cum dignissimos officia? Quaerat eius natus unde officiis alias eaque quos qui autem. Iste, nihil! Neque amet commodi ex doloribus possimus? Quos sed, quod rerum, consequuntur laborum aliquid porro dolorem omnis eligendi repellat animi eveniet dolores in officia accusamus reprehenderit unde? Error ipsam ex voluptatem velit voluptas tempore, voluptatum nisi a quia debitis tempora saepe facilis sit soluta quae reprehenderit aliquam placeat libero earum? Fugiat quas ipsa iste nihil repellendus quidem? Non, officiis quidem, rerum magni quis doloribus ipsam laboriosam, magnam iusto ullam ad officia ipsum sit nesciunt soluta autem iure aut ducimus nisi? Quasi voluptas neque ut dolorem, magnam omnis maxime inventore dolore mollitia illo eligendi a eum libero reprehenderit cum sapiente quos debitis sed hic voluptatibus laborum est vel. Ipsa quibusdam ratione natus repellat ex porro odit ducimus quo repudiandae eveniet commodi autem fugiat tempora libero in impedit aspernatur, voluptate labore quisquam. Ipsum, doloribus soluta? Id libero ipsam cumque provident alias nobis ratione exercitationem mollitia, vel iure qui perferendis minus aut ad sit repellat at nam ullam dolorum earum. Architecto, veniam. Facilis ab adipisci nihil ex laboriosam mollitia repudiandae quam cumque temporibus optio, quibusdam illum quod provident quos consectetur enim necessitatibus placeat error pariatur inventore odit. Optio molestias sequi fugit possimus ipsa dignissimos dolores eum. Illum veniam omnis quam recusandae necessitatibus sunt voluptatibus consequatur, saepe ea accusantium dolores, deleniti praesentium soluta fugiat fugit aliquid natus adipisci maxime quidem. Consequuntur ad quidem alias aliquam expedita fuga et vero, est repellat error excepturi beatae temporibus dolores illum tempore cum eum voluptatibus corrupti, inventore velit doloribus quaerat! Recusandae molestiae asperiores eaque voluptate, vero et expedita perspiciatis deleniti voluptates minus provident voluptas, illo voluptatem voluptatum. Neque nihil assumenda vitae nam porro pariatur ex quae quidem. Ad, tenetur eligendi! Alias distinctio voluptatibus praesentium. Provident porro in temporibus, ea repellat ad cumque. Molestiae non alias magnam, praesentium eius dolorum, quo adipisci debitis error ratione voluptas corrupti sed eum odio perferendis fugiat, odit nisi nemo. Ea nostrum accusantium quibusdam provident, eaque consequatur inventore voluptas necessitatibus temporibus sequi quis animi repellat eos ullam dolorum consequuntur repudiandae officiis eum distinctio eius ipsam nulla autem quisquam! Nihil voluptatibus illo quas corporis deleniti! Explicabo laudantium vel iusto. Blanditiis harum nobis doloribus facere fugit magni quas adipisci corporis nesciunt tempore hic odit officia voluptatum culpa eveniet veritatis cupiditate velit, ab, quisquam quis sit vitae doloremque. Veniam rem, provident ipsam laboriosam repudiandae nostrum deleniti nam eligendi optio repellendus necessitatibus quo, totam eos quibusdam autem! Nam incidunt corporis fugiat quo aliquam ullam voluptatum beatae hic, illo quae debitis reprehenderit distinctio sapiente autem impedit laudantium omnis ut voluptate ratione minus deserunt culpa architecto at doloremque. Excepturi, neque rem vero dignissimos nulla aut? Est deserunt alias ipsam sapiente veritatis totam. In, voluptate quae perferendis officiis, ipsum tempore iusto quasi incidunt exercitationem illum animi, fuga numquam. Quia iste, consequuntur dolore minus neque illo quidem deserunt animi maiores. </p>
    </div>
    <div class="abc">
        <div class="card">
            <div class="card-image">
                <img src="images/doc1.jpeg" alt="Profile image">
            </div>
            <p class="name">Dr. ABILASH</p>
            <p>Neurologist</p>
            <p> Ph.No: 8979979889<br>
                Email: abilash213@gmail.com<br>
                RHEA Hospital, Zilla Parishad junction,chittor,Andhra Pradesh.<br></p>
            <div class="socials">
                <button class="facebook"><i class="fab fa-facebook"></i></button>
                <button class="instagram"><i class="fab fa-instagram"></i></button>
                <button class="twitter"><i class="fab fa-twitter"></i></button>
            </div>
        </div>
    
        <div class="card">
            <div class="card-image">
                <img src="images/doc2.jpeg" alt="Profile image">
            </div>
            <p class="name">Dr. Rama Rao</p>
            <p>Psychiatrist</p>
            <p>Ph.No: 9998760567<br>
               Email: rrhospital222@gmail.com<br>
               RR Psychiatrist Hospital,Opposite Railway Station ,vishakapatanam,Andhra Pradesh.</p>
            <div class="socials">
                <button class="facebook"><i class="fab fa-facebook"></i></button>
                <button class="instagram"><i class="fab fa-instagram"></i></button>
                <button class="twitter"><i class="fab fa-twitter"></i></button>
            </div>
        </div>
    
        <div class="card">
            <div class="card-image">
                <img src="images/doc3.jpg" alt="Profile image">
            </div>
            <p class="name">Dr. Charan Das</p>
            <p>Ophthalmologist</p>
            <p> Ph.No: 9870865342<br>
                Email: charan899@gmail.com<br>
                Eye Care Hospital, Near Venkateswara Temple, Kakinada, Andhra Pradesh.<br></p>
            <div class="socials">
                <button class="facebook"><i class="fab fa-facebook"></i></button>
                <button class="twitter"><i class="fab fa-twitter"></i></button>
                <button class="instagram"><i class="fab fa-instagram"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="images/doc4.jpg" alt="Profile image">
            </div>
            <p class="name">Dr. Jayanthi</p>
            <p>Gastroenterologist</p>
            <p> Ph.No: 9088764313<br>
                Email: jaya903@gmail.com<br>
                Jaya Hospital, Near Post Office, East Godavari,Andhra Pradesh.<br></p>
            <div class="socials">
                <button class="facebook"><i class="fab fa-facebook"></i></button>
                <button class="instagram"><i class="fab fa-instagram"></i></button>
                <button class="twitter"><i class="fab fa-twitter"></i></button>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="images/doc5.jpg" alt="Profile image">
            </div>
            <p class="name">Dr. Pankaj Kumar</p>
            <p>Orthopedics, Surgery-Hand</p>
            <p>
                Ph.No: 9456898443<br>
                Email: pankaj787@gmail.com<br>
                Apollo Hospital,Pulicat Nagar, Sullurupeta, Andhra Pradesh.<br>
                </p>
            <div class="socials">
                <button class="facebook"><i class="fab fa-facebook"></i></button>
                <button class="instagram"><i class="fab fa-instagram"></i></button>
                <button class="twitter"><i class="fab fa-twitter"></i></button>
            </div>
        </div>
    </div>
    </div>
      
</body>
</html> 