<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Page</title>
</head>
<body>
     <link rel="stylesheet" href="CSS/docpage.css">
    <div class="header">
    <h2>Consult Doctors Online</h2>
    </div>
     <div>
        <nav class="navbar">
         <form class="form-inline" action="/action_page.php"> 
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-success" type="submit">Search</button>
        </form>
        </nav>
    <section class="doctor">
     <div class="box">
       <div class="image">
           <img src="images/doc3.jpg" alt="" height="150px">
       </div>
       <div class="text">
        Dr. ABILASH<br>
        Neurologist<br>
        Ph.No: 8979979889<br>
        Email: abilash213@gmail.com<br>
        RHEA HOSPITAL, Zilla Parishad junction,chittor,Andhra Pradesh.<br>
       </div>
       
     </div><br>
      <div class="box">
       <div class="image">
           <img src="images/doc1.jpeg" alt="" height="150px">
       </div>
       <div class="text">
        Dr. Rama Rao<br>
        Psychiatrist<br>
        Ph.No: 9998760567<br>
        Email: rrhospital222@gmail.com<br>
        RR Psychiatrist HOSPITAL,Opp Railway Station ,vishakapatanam,Andhra Pradesh.<br>
       </div>
     </div><br>
     <div class="box">
        <div class="image">
            <img src="images/doc2.jpeg" alt="" height="150px">
        </div>
        <div class="text">
            Dr. Charan Das<br>
            Ophthalmologist<br>
            Ph.No: 9870865342<br>
            Email: charan899@gmail.com<br>
            Eye Care HOSPITAL, Near Venkateswara Temple, Kakinada, Andhra Pradesh.<br>
        </div>
        
      </div><br>
       <div class="box">
        <div class="image">
            <img src="images/doc5.jpg" alt="" height="150px">
        </div>
        <div class="text">
            Dr. Jayanthi<br>
            Gastroenterologist<br>
            Ph.No: 9088764313<br>
            Email: jaya903@gmail.com<br>
            Jaya HOSPITAL, Near Post Office, East Godavari,Andhra Pradesh.<br>        </div>
      </div>
</section>


</body>
</html>