<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Helpy</title>
    <link rel="icon" href="./images/healthcare.png" type="image/x-icon">

    <link rel="stylesheet" href="./CSS/signuplogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <form id="form" autocomplete="off">
        <div id="imgholder">
            <img src="./images/ezgif.com-gif-maker.gif" alt="">
            <div id="eyeband"></div>
        </div>
        <h2 id="heading">Forgot Password</h2>
        <div id="cont">
            <input type="email" id="email" placeholder="Email" name="email" required><br><br>
            </br>
            <input type="submit" id="submit" value="Submit"><br /><br />
            <span>Don't have any accoount? </span><a href="./signup">Sign Up</a>
        </div>


    </form>
    <form id="form2" autocomplete="off">
        <div id="imgholder">
            <img src="./images/ezgif.com-gif-maker.gif" alt="">
            <div id="eyeband"></div>
        </div>
        <h2 id="heading">Verify OTP</h2>
        <div id="cont">
            <input type="text" id="otp" placeholder="OTP" name="otp"><br>
            <input type="submit" id="submit2" value="Submit"><br /><br />
            <p id="errortext"></p>
        </div>



    </form>
    <form id="form3" autocomplete="off">
        <div id="imgholder">
            <img src="./images/ezgif.com-gif-maker.gif" alt="">
            <div id="eyeband"></div>
        </div>
        <h2 id="heading">Set New Password</h2>
        <div id="cont">
            <div class="password-layout">
                <input type="password" id="pass" placeholder="New Password" name="password" required>
                <i class="fa-solid fa-eye" id="passicon"></i>
            </div>

            </br>

            <input type="submit" id="submit3" value="Submit"><br /><br />


        </div>


    </form>
    <script src="./JS/signuplogin.js"></script>
    <script src="./Js/forgot.js"></script>
</body>

</html>