<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  
    <div id="intro">
        <div id="navbar">
            <div id="icon">
                <p><img src="./img2.png" alt="">Careerpath</p>

            </div>
            <button></button>
            <div id="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#about">ABOUT</a></li>
                    <li><a href="#course">COURSE</a></li>
                    <li><a href="/logout">Log Out</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div id="text">
        <p>Careerpath University</p>

    </div>
    <div id="about">
        <div id="head">
            <p data-aos="fade-up"><span>About</span></p>
            <p> Do you want to settle for a profession and leave your passion, or pursue both?<br>
                India’s first ‘Liberal Professional University’ is inviting you to experiment and personalise </p>
            <p>your<br>
                learning experiences for transforming your dream career into a reality.</p>
            <p>What is a 'Liberal Professional University'?</p>
            <p>Careerpath University is a unique platform which embeds professional education in a liberal curriculum
                architecture, giving students the option of personalising the curriculum to realise their dream careers.
            </p>
        </div>
    </div>
    <div id="about2">
        <p id="about2p">Best University in<br />India</p>
        <div id="info">
            <p>100%<br />Placement</p>
            <p>1000+ acres<br />of campus</p>
            <p>200000+<br />Students</p>
            <p>2000+<br />Faculty</p>
            <p>100+<br />Labs</p>
            <p>49 Years<br />of Experience</p>
        </div>
    </div>
    <div id="course">
        <div id="cont">
            <p><span>Coures</span></p>
            <ul>
                <li>BE/B.Tech- Bachelor of Technology.</li>
                <li>B.Arch- Bachelor of Architecture.</li>
                <li>BCA- Bachelor of Computer Applications.</li>
                <li>B.Sc.- Information Technology.</li>
                <li>B.Sc- Nursing.</li>
                <li>BPharma- Bachelor of Pharmacy.</li>
                <li>B.Sc- Interior Design.</li>
                <li>BDS- Bachelor of Dental Surgery.</li>
            </ul>
        </div>
        <img src="./img4.jpg" alt="">
    </div>
    

</body>


</html>