<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. Helpy</title>
    <link rel="icon" href="./images/healthcare.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/Project1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <style>
        .small-img-group {
            margin-top: 4rem;
            display: flex;
            justify-content: space-between;
        }

        .small-img-col {
            flex-basis: 24%;
            cursor: pointer;
        }
    </style>

</head>

<body>
    <!-- header section start here  -->

    <header class="header">

        <div class="header-1">

            <a href="#" class="logo"> <i class="fa fa-heartbeat"></i> Dr. Helpy</a>

            <form action="" class="search-form">
                <input type="search" name="" placeholder="search here..." id="search-box">
                <label for="search-box" class="fas fa-search"></label>
            </form>

            <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <!-- <a href="#" class="fas fa-heart"></a> -->
                <a href="#" class="fas fa-shopping-cart"></a>
                <div id="login-btn" class="fas fa-user"></div>
            </div>

        </div>

        <div class="header-2">
            <nav class="navbar">
                <a href="#home">home</a>
                <a href="#featured">featured</a>
                <a href="#reviews">reviews</a>
                <a href="#consultation">consultation</a>
                <a href="#disease">disease</a>
            </nav>
        </div>

    </header>
    <!-- header section end here -->

    <section class="container_sproducts my-5 pt-5">

        <div class="row mt-5">

            <div class="col-lg-5 col-md-12 clol-12">
                <img class="img-fluid w-100" src="images/mbmainpro.png" id="MainImg" alt="">

                <div class="small-img-group">
                    <div class="small-img-col">
                        <img src="images/mbprosmall.png" width="100%" class="small-img " alt="">
                    </div>

                    <div class="small-img-col">
                        <img src="images/mbprosmall2.png" width="100%" class="small-img" alt="">
                    </div>

                    <div class="small-img-col">
                        <img src="images/mbprosmall3.png" width="100%" class="small-img" alt="">
                    </div>

                    <div class="small-img-col">
                        <img src="images/mbprosmall4.png" width="100%" class="small-img" alt="">
                    </div>

                </div>

            </div>

            <div class="col-lg-6 col-md-12 col-12">
                <h3>MuscleBlaze Beginner's Whey Protein, No Added Sugar, Faster Muscle Recovery & Improved Strength
                    (Chocolate, 500 g / 1.1 lb)</h3>
                <a href="#"> <span>Visit the OPTIMUM NUTRITION Store</span> </a>
                <div class="price">
                    M.R.P. : <span>$200 </span>
                    <div> Price: <span> ₹6,543.00 <i> (₹288.24 /100 g) </i></span></div>
                    <div>
                        You Save: <span>₹1,156.00 <i>(15%)</i></span> <br>
                        <div class="tax"> Inclusive of all taxes </div>
                    </div>
                </div>

                <div class="about_item">
                    <div class="payment">
                        <a href="javascript:void(0);" class="btn btn-danger active">Add to cart</a>
                        <a href="javascript:void(0);" class="btn btn-info active">More info</a>
                    </div>

                    <h4>About Item</h4>
                    <ul>
                        <li>Gold Standard 100% Whey Blend – 24g blended protein consisting of whey protein isolate, whey
                            protein concentrate, and whey peptides/hydrolysates to support lean muscle mass. Primary
                            protein source is Isolate, they don't call it the Gold Standard of quality for nothing.</li>
                        <li>What Does It Have -11 grams of naturally occurring EAAs, including 5.5 grams of naturally
                            occurring BCAAs, and over 4 grams of naturally occurring Glutamine and Glutamic Acid in each
                            serving to support endurance and muscle recovery. Gluten-Free & suitable for Vegetarians.
                        </li>
                        <li>Authenticity - SMS us your 6 digit unique code on the pack at 57575 to instantly test the
                            authenticity of the product.</li>
                        <li>When To Use – First thing in the morning, before or after exercise, between meals, with a
                            meal, or any time of the day, where you a protein boost to your balanced diet. Ayurvedic:No
                        </li>
                        <li>Trusted by the best athletes all over the world for past 35 years.</li>
                        <li>Size/Flavours - Pick your size from 1, 2, 5 pounds and 10 pound/4Kg options and 10 Delicious
                            flavours available to choose from.</li>
                        <li>Our Ingredients like Whey protein Isolate and Whey protein concentrate are imported from
                            Europe. Blending is done at a world class facility in India carrying the safety
                            certifications like NSF, FSSC 22000 and OHSAS 18001</li>
                        <li>How To Use - Add 1 scoop in 180-240 ml water, milk or beverage of your choice. You can also
                            add it to a smoothie or shake.</li>
                        <li>Country of Origin: India, it is manufactured in India, in a facility that is ISO 14001 &
                            22000 certified and Inspected & Approved by Food Safety Standard Authority of India. Whey
                            Imported from Europe</li>
                    </ul>
                </div>

            </div>


        </div>

    </section>
    <section class="product-description">



        <div>
            <h2>Product Description</h2>
        </div>
        <div class="proimag">
            <img src="images/im1.png" alt="">


        </div>
        <div class="product_dic">

            <h2>MuscleBlaze Beginner’s Whey Protein - Start The Right Whey!</h2>
            <p>Start the right ‘whey’ with MuscleBlaze Beginner’s Protein. Packed with an optimum dose of 12 g of
                protein, 5.5 g EAAs comprising 2.6 g BCAAs in each serving, a solid amino acid profiling and countless
                yummy flavours, it is the perfect protein to kickstart your journey of ‘gains’. The ultimate cherry on
                this whey protein is that it is super cost-effective. If taken post-workout, it is like a complete mixed
                meal and is absorbed well.</p>
            <h4>Why Should You Choose MuscleBlaze Beginner’s Whey Protein?</h4>
        </div>

        <div class="whyprotinedic">
            <!-- fist box start here  -->
            <div class="box">

                <div class="image">
                    <a href=""> <img src="images/proimg1.png" /> </a>
                </div>

                <div class="text">
                    <h5>12g Protein</h5>
                    <p>MuscleBlaze Beginner’s Protein delivers 12 g protein in each serving. It contains the finest
                        quality whey protein concentrate which is ideal for beginners and helps them to adjust with the
                        increased macro-nutrient intake plan & meet daily protein requirements.</p>
                </div>

            </div>

            <!-- second box -->

            <div class="box">

                <div class="image">
                    <a href=""> <img src="images/proimg2.png" /> </a>
                </div>

                <div class="text">
                    <h5>Whey Protein Primary Source</h5>
                    <p>MuscleBlaze Beginner’s Protein contains Whey as the only source of protein to let every beginner
                        train harder & better. Whey Protein has a richer amino acid profile and is absorbed faster than
                        other protein sources. Get 5.5 g of EAAs comprising 2.6 g of BCAAs in each serving.</p>
                </div>

            </div>
            <!-- Third Box-->
            <div class="box">

                <div class="image">
                    <a href=""><img src="images/proimg3.png" /> </a>
                </div>
                <div class="text">
                    <h5>Zero Added Sugars</h5>
                    <p>This whey protein for beginners has no added sugar and is as clean as protein can be. To keep
                        this beginner’s protein less complex, there are a host of delicious flavours from Chocolate,
                        Blueberry, Bubblegum, Cookies & Cream to Magical Mango and all sugar-free.</p>
                </div>

            </div>

            <!-- Fourth Box -->
            <div class="box">

                <div class="image">
                    <a href="#"> <img src="images/proimg4.png" /> </a>
                </div>
                <div class="text">
                    <h5>International Grade Quality</h5>
                    <p>At MuscleBlaze, the quality of the product and the well-being of the consumers is of utmost
                        importance. This is the reason why MuscleBlaze Beginner’s Protein has US imported whey to ensure
                        that you receive nothing but the best quality of nutrition supplements.</p>
                </div>

            </div>
        </div>

        <div class="img3"> <img src="images/im2.0.png" alt=""></div>
        <div class="img4"><img src="images/im2.png" alt=""></div>
        <div>

        </div>
    </section>

    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>our locations</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> france </a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> consultation </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> disease </a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> Aarya@gmail.com </a>
                <img src="images/worldmap.png" class="map" alt="">
            </div>

        </div>

        <div class="share">
            <a href="#" class="facebook"><img src="images/fbicon.png" alt=""></a>
            <a href="#" class="twitter"><img src="images/twiter.png" alt=""></a>
            <a href="#" class="instagram"><img src="images/insta.png" alt=""></a>
            <a href="#" class="linkedin"><img src="images/linkdin.png" alt=""></a>
            <a href="#" class="pinterest"><img src="images/pintrest.png" alt=""></a>
        </div>

        <div class="credit"> created by <span>Mr. A.K.Arya</span> | all rights reserved! </div>

    </section>

    <!-- footer section ends -->

    <script src="/JS/Project.js"></script>
</body>

</html>